.circle {
	border-radius: 50%;
}
.col.user {
	min-width: 180px;
}
.col-2.user {
  min-width: 180px;
}
.circle.lead {
  border: solid blue 3px;
}
.navbar {
  background-color: #fff;
  border-bottom: 1px solid rgb(0,0,0);;
}
.card-header>h4>a {
  color: black;
}
.border-dark>.card-header {
  border-color: black;
}
.card-footer {
  font-size: 0.85rem;
  padding: .25rem .5rem;
  color: #8e8e8e;
}
.circle.mini {
  width: 50px;
}
/** Visualisation **/

.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}
